<link href="static/style.css" rel="stylesheet">

<H2 align="center">Надежность. Защита. Уверенность.</H2>
<p>
<img src="../static/images/mainpage.jpg" align="left" width="36%" style="float: left; margin: 0 15px 10px 10px;">
В "Гелиос" мы понимаем, что страхование — это не просто формальность, а важный шаг к вашему спокойствию. Мы предлагаем широкий спектр страховых услуг, чтобы вы могли выбрать именно то, что вам нужно.
<p>
<BR>
Наши услуги:<BR>
<table border="3" cellpadding="10" cellspacing="0">
<tr>
	<td colspan=2 align="center">Страхование здоровья</td>
	<td colspan=2 align="center">Страхование имущества</td>
</tr>
<tr>
	<td>Доктор на связи</td>
	<td>Несчастные случаи</td>
	<td>КАСКО</td>
	<td>Ипотека</td>
</tr>
<tr>
	<td>Путешествия</td>
	<td>Спорт</td>
	<td>ОСАГО</td>
	<td>Квартира и дом</td>
</tr>

</table><p>
Почему выбирают нас?<p>


<table border="0" cellpadding="5" cellspacing="0">
<tr>
	<td align="center"><i class="fas fa-shopping-basket"></i></td><td> Широкий ассортимент продуктов </td>
</tr>
<tr>
	<td align="center"><i class="fas fa-shield"></i></td><td> Надежность и финансовая стабильность </td>
</tr>
<tr>
	<td align="center"><i class="fas fa-handshake"></i></td><td> Гибкая система скидок и акций </td>
</tr>
<tr>
	<td align="center"><i class="fas fa-user-circle"></i></td><td> Индивидуальный подход </td>
</tr>
</table>
